body {
    color: white;
    /* background: black; */
    background-image: url(https://ctl.s6img.com/society6/img/Mj_cOsqLYAug_tliyXoUjtgyYiw/w_700/duvet-covers/swatch/~artwork,fw_6000,fh_6000,iw_6000,ih_6000/s6-original-art-uploads/society6/uploads/misc/8dafd61b03c349d38485c7ce1aa1ba88/~~/modern-bright-summer-turquoise-pink-watercolor-ombre-hand-painted-background-duvet-covers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h2 {
    font-size: 20px;
}
h1 {
    font-family: shadows into light;
    font-size: 50px;
    color: white;
    margin-bottom: -5px;
    margin-top: 10px;
}
a {
    color: #9203ff;
}
a:hover {
    color: silver
} 
h2 {
    font-size: 12px;
    font-style: italic;
}
h1 {
    color: white;
    font-family: shadows into light;
    font-size: 50px;
    margin-bottom: -5px;
    margin-top: 10px;
}
#headshot {
    position: relative;
    width: 50%;
    left: 50px;
}
.smaller-text {
    font-size: 16px;
    font-style: italic;
}