body {
    color: white;
    background: url(https://ctl.s6img.com/society6/img/Mj_cOsqLYAug_tliyXoUjtgyYiw/w_700/duvet-covers/swatch/~artwork,fw_6000,fh_6000,iw_6000,ih_6000/s6-original-art-uploads/society6/uploads/misc/8dafd61b03c349d38485c7ce1aa1ba88/~~/modern-bright-summer-turquoise-pink-watercolor-ombre-hand-painted-background-duvet-covers.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: fit-content; */
    text-align: center;
}
h2 {
    font-size: 20px;
    font-family: raleway;
    /* padding: 0 0 0 40px; */
}
h1 {
    font-family: shadows into light;
    font-size: 75px;
    color: white;
    margin-bottom: -5px;
    margin-top: 10px;
    /* padding: 0 0 0 40px; */
}
ul {
    list-style-type: none;
    line-height: 25px;
    padding-left: 0;
    font-family: raleway;
}
a {
    color: #090C9B;
    padding: 0 10px 0;
    font-family: shadows into light;
    font-size: 20px;
    /* padding: 0 0 0 20px; */
}
a:hover {
    color: #B2ABF2;
    font-size: 25px;
} 
#usb {
    margin-top: 50px;
    /* padding: 0 0 0 40px; */
}
#sr {
    margin-top: -25px;
    /* padding: 0 0 0 40px; */
}
#brazee {
    margin-top: -25px;
    padding: 0 0 0 40px;
}
.caption {
    font-size: 12px;
    font-style: italic;
    font-family: raleway;
}
#headshot {
    position: center;
    width: 50%;
    size: auto;
    /* padding: 0 0 0 40px; */
}
.smaller-text {
    font-size: 16px;
    font-style: italic;
    font-family: raleway;
    /* padding: 0 0 0 40px; */
}

#headshotcapt {
    font-family: raleway;
    font-size: 25px;
}

#funky
{
    margin-top: -30px;
    margin-bottom: -25px;
    /* padding: 0 0 0 35px; */
}


@media (max-width: 450px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 390px) {
    #headshot {
        max-width: 250px;
    }
    h1 {
        font-size: 25px;
    }
    .caption {
        font-size: 10px;
    }
    body {
        font-size: 13px;
    }
}
@media all {
    #headshot {
        max-width: 350px;
    }

}